<div class="alain-default__content-title">
    <h1>
        销售流水
        <small>订单销售流水</small>
    </h1>
</div>
<div nz-col nzSpan="24">
    <div nz-row class="mb-md">
        <div nz-col nzSpan="8" style="padding-right:10px;">
            <nz-range-picker name="dateRange" [(ngModel)]="dateRange" [nzFormat]="shedateFormat"
                (ngModelChange)="changeTime($event)"></nz-range-picker>
        </div>
        <div nz-col nzSpan="10" style="padding-right:10px;">
            <nz-input-group nzSearch [nzSuffix]="suffixButton">
                <input type="text" [(ngModel)]="keyWord" nz-input placeholder="订单编号">
            </nz-input-group>
            <ng-template #suffixButton>
                <button nz-button nzType="primary" [nzLoading]="isTableLoading" (click)="refreshData()"
                    nzSearch>搜索</button>
            </ng-template>
        </div>
        <div nz-col nzSpan="6" style="text-align:right;">
            <button nz-button (click)="resetSearch()" nzShape="circle" nz-tooltip nzPlacement="top" nzTitle="刷新">
                <i class="anticon anticon-reload"></i>
            </button>
        </div>
    </div>
    <ng-template #totalTemplate let-total>共 {{totalItems}} 条</ng-template>
    <nz-table #nzTable [nzData]="dataList" [nzFrontPagination]="false" [nzTotal]="totalItems"
        [nzShowTotal]="totalTemplate" [(nzPageIndex)]="pageNumber" [(nzPageSize)]="pageSize"
        [nzLoading]="isTableLoading" [nzShowSizeChanger]="true" (nzPageIndexChange)="refresh()"
        (nzPageSizeChange)="refresh()">
        <thead>
            <tr>
                <th>订单编号</th>
                <th>会员手机号</th>
                <th>订单总金额</th>
                <th>优惠金额</th>
                <th>实收金额</th>
                <th>支付方式</th>
                <th>订单状态</th>
                <th>时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of nzTable.data">
                <td>{{data.number}}</td>
                <td>{{data.phone}}</td>
                <td>¥ {{data.amount| number:'1.2-2'}}</td>
                <td>¥ {{data.discountAmount| number:'1.2-2'}}</td>
                <td>¥ {{data.payAmount| number:'1.2-2'}}</td>
                <td>{{data.paymentTypeName}}</td>
                <td>{{data.statusType}}</td>
                <td>{{data.creationTime | _date}}</td>
                <td>
                    <a (click)="goDetail(data.id)">详情</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a style="color: #ff4d4f;" (click)="goDetail(data.id)">重打小票</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>