<div class="alain-default__content-title">
  <h1>
    系统用户
    <small>店铺管理员、收银员信息维护管理</small>
  </h1>
</div>
<!-- <nz-card> -->
  <div nz-row class="mb-md">
    <div nz-col nzSpan="18" style="padding-right:10px;">
      <nz-input-group nzSearch [nzSuffix]="suffixButton">
        <input type="text" [(ngModel)]="keyWord" nz-input placeholder="用户登录账户、姓名">
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button nzType="primary" [nzLoading]="isTableLoading" (click)="refreshData()" nzSearch>搜索</button>
      </ng-template>
    </div>
    <div nz-col nzSpan="6" style="text-align:right;">
      <button nz-button (click)="refresh()" nzShape="circle" nz-tooltip nzPlacement="top" nzTitle="刷新" >
        <i class="anticon anticon-reload"></i>
      </button>
      <button nz-button (click)="create()" nzShape="circle" nzType="primary" nz-tooltip nzPlacement="top" nzTitle="新增" >
        <i class="anticon anticon-plus"></i>
      </button>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="24">
      <nz-table #ajaxTable nzShowSizeChanger [nzData]="dataList" [nzTotal]="totalItems" [(nzPageIndex)]="pageNumber"
        [(nzPageSize)]="pageSize" [nzLoading]="isTableLoading" (nzPageIndexChange)="refresh()" (nzPageSizeChange)="refresh()"
        [nzFrontPagination]="false">
        <thead>
          <tr>
            <th>登录账号</th>
            <th>姓名</th>
            <th>角色</th>
            <th>启用</th>
            <th>创建时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ajaxTable.data">
            <td>{{item.account}}</td>
            <td>{{item.name}}</td>
            <td>{{item.roleName}}</td>
            <td>
              <nz-badge *ngIf="item.isEnable == 1" [nzStatus]="'success'" [nzText]="'启用'"></nz-badge>
              <nz-badge *ngIf="item.isEnable == 0" [nzStatus]="'default'" [nzText]="'禁用'"></nz-badge>
            </td>
            <td>{{item.creationTime | date:"yyyy-MM-dd"}}</td>
            <td>
              <span *ngIf="item.account != 'admin'">
                <a (click)="edit(item)">编辑</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)="updateStatus(item)" *ngIf="item.isEnable" style="color:#ff4d4f" >禁用</a>
                <a (click)="updateStatus(item)" *ngIf="!item.isEnable" >启用</a>
                <!-- <a (click)="delete(item)">删除</a> -->
              </span>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
  <!-- <button nz-button (click)="getAccessToken()" nzType="primary" >
    获取AccessToken
  </button>
  <div>AccessToken:{{accessToken}}</div> -->
<!-- </nz-card> -->